<div class="logo">midnight</div>
<div class="program-selector-block">
  <h1>What program do you hear ?</h1>
  <%= form_for @program do |form| %>
    <%= form.collection_select :program_name, @programs, :program_name, :program_name%>
    <%= form.submit 'submit' %>
    </div>
  <% end %>
</div>
