<%= include_gon %>
<h1><%= @room_name %></h1>

<div class="chat-block">
  <div id="timeline-area" class="timeline-area">
    <div id="timeline" style="margin:10px;">
      <div id="chat" data-uri="<%= request.host %>:<%= @port %>/websocket"></div>
    </div>
  </div>
  <div class="message-area">
    <form class="form-horizontal">
      <input type="text" value="masuda" class="form-control" id="user_name" />
      <input type="text" class="form-control" id="message_body" />
      <input type="button" class="btn btn-primary" id="send" value="submit"/>
    </form>
  </div>
</div>
