<div class="nav-chat-parent">
  <nav>
    <ul class="area-nav">
      <% @titles.each do |title| %>
        <li><a href="#" class="logo"><%= title %></a></li>
      <% end %>
    </ul>
  </nav>
  <div class="chat">
  </div>
</div>
